/build/**
/coverage/**
/docs/*
!/docs/*.js
!/docs/tools/
/jsdoc/**
/templates/**
/tests/bench/**
/tests/fixtures/**
/tests/performance/**
/tmp/**
/tools/internal-rules/node_modules/**
test.js
!.eslintrc.js
vite.config.ts
vitest.config.ts
*.css
shims-vue.d.ts
/src/assets